header
{

    background-color: #012E40;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 8px 5px 5px rgb(66, 66, 66);
    z-index: 5;
    color: #FFFFFF;
}

.spacer-top
{
    margin: 38px;
}

.navbar-nav .nav-item {
    margin-left: 40px;
}

.nav-link dropdown-toggle
{
    margin-right: 0;
}

.nav-item-dropdown
{
    margin-left: 60px;
}

header nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    margin-left: auto;
    margin-top: 0;
}

body
{
    padding: 0;
    margin: 0;
}

header img
{
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 3px;
    position: flex;
    top: 0;
}

header a
{
    text-decoration: none;
    color: black;
    font-style: Arial, sans-serif;
    padding-bottom: 50px;
    
}

.navbar.navbar.navbar-expand-lg.bg-light
{
    padding: 0;
}

body, html
{
    height:100%;
} 


nav
{
    margin: 0;
}
#main
{ 
    max-width:1280px;
    min-height:100%; 
    margin:0 auto; 
    position:relative; 
}   

footer 
{ 
    background:#0050d7;
    position:static; 
    bottom:0; 
    width:100%; 
    padding: top 50%;;
    background-color: #0050d7;
    color: aliceblue;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.text
{
    text-align: center;
}

h5
{
    color: aliceblue;
}

.navbar-toggler 
{
    margin-right: 50px;
}

.dropdown-menu
{
    margin-right: 40px;
}


body{
    display: flex;
    flex-direction: column;
}

.spacer
{
    flex-grow: 1;
}

.map
{
    flex: content;
    margin-right: 10%;
    width: 100%;
    height: auto;
}

.map h6
{
    text-align: center;
    margin-right: 14%;
    margin-top: 3%;
}

.contact img
{
    margin-left: 1%;
}

.contact
{
    flex: left;
    text-align: center;
    margin-top: 5%;
    font-size: 500;
}

.contact svg
{
    margin-top: 15px;
    font-size: 300;
    margin-right: 20px;
    width: 20%;
}

.signature
{
    text-align: center;
    justify-content: end;
}

#lkd
{
    margin-top: 20px;
}

#X
{
    margin-top: 0;
}

#ytb
{
    margin-top: 25px;
}

iframe
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}