*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
    
    background-color: rgb(24, 146, 159);
    min-height: 100%;
}

.content{
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}

.content p{
    letter-spacing: 1px;
    margin-top: 10px;
}

.content h2{
    letter-spacing: 2px;
    color: antiquewhite;
}

.timeline{
    position: relative;
    max-width: 1000px;
    margin: 0% auto;
}

